{% load static %}
<html>
<head>
<title>SIGNUP</title>
<link href="{% static 'css/form.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    {% block content %}
    <img src="https://image.freepik.com/free-vector/tasty-food-chef-logo-mascot-template_190190-133.jpg" width="200px"></a>
    <div>
        <form method="POST" action="{% url 'register' %}" class="box ">
            {% csrf_token %}
            <div>
                <h1>SIGNUP</h1>
                <input type="text" placeholder="USERNAME" value="{{data.username}}" name="username"></input>
                <!-- {{form.username}} -->
                <input type="text" placeholder="EMAIL" value="{{data.email}}" name="email"></input>
                <!---- {{form.email}} -->
                <input type="password" placeholder="PASSWORD" value="" name="password"></input>
                <!-- {{form.password1}} -->
                <input type="password" placeholder="CONFIRM PASSWORD" value="" name="password2"></input>
                <!-- {{form.password2}} -->
                <input type="submit" value="SIGNUP" name="register"></input>
            </div>
            <a href="{% url 'login' %}"> Already a customer ? </a><br>
        </form>
    </div>
    <!-- {{form.errors}} -->
    {% endblock %}
</body>
</html>